@{
    ViewBag.Title = "ScheduleDay";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = ViewBag.id;
}

<h3>Manage Day Schedule</h3>

<div id="divScheduleDayContent">
    <a href="~/Admin/Index?id=@ViewBag.id">Back</a>
    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th style="text-align:left">Title</th>
                <th style ="text-align:left">Description</th>
            </tr>            
        </thead>
        <tbody data-bind="foreach: viewModel">
            <tr>
                <td><a href="~/Admin/EditClass?id=@ViewBag.id">Edit</a></td>
                <td><a href="">Delete</a></td>
                <td data-bind="text: title"></td>
                <td data-bind="text: description"></td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        require(['ViewModels/CourseListViewModel'], function (courseListViewModel) {
            var courseListViewModelObj = new courseListViewModel();
            courseListViewModelObj.Load();
        });
    });
</script>