@{
    ViewBag.Title = "InstructorList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = ViewBag.id;
}

<h3>View All Instructors</h3>

<div id="divInstructorList">
    <a href="~/Admin/Index?id=@ViewBag.id">Back</a>
    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Id</th>
                <th>First</th>
                <th>Last</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel">
            <tr>
                <td><a data-bind="attr:{href:'/Admin/EditInstructor?id='+id}">Edit</a></td>
                <td><a href="~/Admin/Index?id=@ViewBag.id">Delete</a></td>
                <td data-bind="text: id"></td>
                <td data-bind="text: first"></td>
                <td data-bind="text: last"></td>
                <td data-bind="text: title"></td>
            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        require(['ViewModels/InstructorViewModel'], function (studentViewModel) {
            var studentViewModelObj = new studentViewModel();
            studentViewModelObj.GetAll();
        });
    });
</script>
