@{
    ViewBag.Title = "NewInstructor";
    var id = ViewBag.id;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>New Instructor</h3>

<div id="divNewInstructor">
    <a href="~/Admin/Index?id=@ViewBag.id">Back</a><br /><br />
    <form action="~/Admin/Index?id=@ViewBag.id" method="post">
        ID:<br />
        <input type="text" /><br />
        First Name:<br />
        <input type="text" /><br />
        Last Name:<br />
        <input type="text" /><br />
        Email:<br />
        <input type="text" /><br /><br />
        <input type="submit" value="Submit" />
    </form>
</div>
