@{
    ViewBag.Title = "Staff";
}

<h2>Staff</h2>

<p>Staff:</p>
<ul>
    <li><a href="~/Staff/StudentList">Manage student accounts</a></li>
    <li><a href="~/Staff/GetEnrollmentList">Review enrollments</a></li>
    <li><a href="~/Staff/TaList">Manage TA's</a></li>
    <li>What else?</li>
</ul>
