@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Schedule of classes</h3>

Select a Year:
<div id="divScheduleYearContent">
    <select name="yearSelectDropdown" data-bind="foreach: viewModel" onchange="getYearValue()">
        <option data-bind="text: year"></option>
    </select>
</div>

<p></p>
<p></p>

Select a Quarter:
<div id="divScheduleQuarterContent">
    <select name="quarterSelectDropdown" data-bind="foreach: viewModel" onchange="getQuarterValue()">
        <option data-bind="text: quarter"></option>
    </select>
</div>

<p></p>
<p></p>

<div id="queryButton">
    <input type="button" value="Search" onclick="populateClassList()" style="margin-left:80px"/>
</div>

<p></p>
<p></p>

<div id="divScheduleListContent">
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel">
            <tr>
                <td data-bind="text: title"></td>
                <td data-bind="text: description"></td>
            </tr>
        </tbody>
    </table>
</div>



<script type="text/javascript">

    function getYearValue()
    {
        year = ($('#divScheduleYearContent option:selected').text());
    }

    function getQuarterValue()
    {
        quarter = ($('#divScheduleQuarterContent option:selected').text());
    }

    function populateClassList()
    {
       // $('#divScheduleListContent').detach();
        require(['ViewModels/ScheduleListViewModel'], function (scheduleListViewModel) {
            var scheduleListViewModelObj = new scheduleListViewModel(year, quarter);
            scheduleListViewModelObj.Load();
        });
        
    }

</script>

<!--
<script type="text/javascript">
    
    function populateQuarterDropdown() {
       
        var year = ($('#divScheduleYearContent option:selected').text());

        $(document).ready(function () {
            require(['ViewModels/ScheduleQuarterViewModel'], function (scheduleQuarterViewModel) {
                var scheduleQuarterViewModelObj = new scheduleQuarterViewModel(year);
                scheduleQuarterViewModelObj.Load();
            });
        });

    }

    $('#divSchedulkeYearContent').change(function () {
       ($('#divScheduleYearContent option:selected').text());
    });
</script>
    -->

<script type="text/javascript">
    $(document).ready(function () {
        require(['ViewModels/ScheduleYearViewModel'], function (scheduleYearViewModel) {
            var scheduleYearViewModelObj = new scheduleYearViewModel();
            scheduleYearViewModelObj.Load();
        });
    });
    var year = ($('#divScheduleYearContent').text()); // intent: to initialize the damn thing
</script>

<script type="text/javascript">
    $(document).ready(function populateQuarter() {
        require(['ViewModels/ScheduleQuarterViewModel'], function (scheduleQuarterViewModel) {
            var scheduleQuarterViewModelObj = new scheduleQuarterViewModel();
            scheduleQuarterViewModelObj.Load();
        });
    });
    var quarter = ($('#divScheduleQuarterContent option:selected').text());
</script>


<!--136 TODO: Show a list of course schedule & filtered by year & quarter-->