@{
    ViewBag.Title = "ViewEnrollments";
    var id = ViewBag.Id;
}

<h2>ViewEnrollments</h2>
<a href="/Student?id=@id"><< back</a>
@Html.Partial("SharedStudentEnrollment")
<!--<div id="divEnrollmentListContent">
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Level</th>
                <th>Description</th>
                <th>Time</th>
            </tr>
        </thead>
            <tr>
                <th>CSE 3</th>
                <th>Lower</th>
                <th>Fluency in Information Technology</th>
                <th>Monday Tuesday 3-5 pm</th>
            </tr>
            <tr>
                <th>CSE 12</th>
                <th>Lower</th>
                <th>Basic Data Structure and Object Oriented Design</th>
                <th>Monday 1-3 pm</th>
            </tr>
            <tr>
                <th>CSE 123</th>
                <th>Upper</th>
                <th>Computer Networks</th>
                <th>Friday 6-11 pm</th>
            </tr>


        <tbody data-bind="foreach: viewModel">
            <tr>
                <td data-bind="text: id"></td>
                <td data-bind="text: first"></td>
                <td data-bind="text: last"></td>
                <td data-bind="text: email"></td>
                <td>
                    <!-- Note, this is an example using knockout templating. $data is the keyword
                        to for each element of the viewModel array 
                    <div data-bind="template: { name: 'action-template', data: $data}"></div>
                </td>
            </tr>
        </tbody>
        -->
    </table>
    <a href="/Student/AddEnrollment">Add New Enrollment</a>
  <!--  <a data-bind="attr: { href : '/Staff/CreateStudent', title: 'create' }">Add new student</a> -->
</div>

